.Chat-input{
	position: fixed;
	bottom: 20px;
	line-height: 40px;
	border: 1px solid #dfdfdf;
	width: 45%;
	margin: 10px 11px;
	border-radius: 20px;
	padding: 0 15px;
	display: flex;
	align-items: center;
}

.Chat-input input{
	width: 95%;
	border: none;
	line-height: 50px;
}

.Chat-input img{
	width: 25px;
	height: 25px;
	cursor: pointer;
	margin-top: 4px;
}